<!doctype html>
<html>
  <body>
    <h1>Choose a compliment</h1>
    <form action='/greet'>
      What compliment would you like?
      <select name="greeting"
        <option value="awesome">Awesome</option>
        <option value="terrific">Terrific</option>
        <option value="fantastic">Fantastic</option>
        <option value="neato">Neato</option>
        <option value="fantabulous">Fantabulous</option>
        <option value="wowza">Wowza</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>