<!doctype html>
<html>
  <body>
   <h1>Choose an insult</h1>
    <form action='/greet'>
      What insult would you like?
      <select name="greeting">
        <option value='ugly'>Ugly</option>
        <option value='stupid'>Stupid</option>
        <option value='selfish'>Selfish</option>
        <option value='lazy'>Lazy</option>
        <option value='broke'>Broke</option>
        <option value='rude'>Rude</option>
      </select>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>